<div>
  <h2 id="page-heading" data-cy="ApproverHeading">
    <span jhiTranslate="approvalServiceApp.approver.home.title">Approvers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="approvalServiceApp.approver.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-approver"
        [routerLink]="['/approver/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="approvalServiceApp.approver.home.createLabel"> Create a new Approver </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="approvers?.length === 0">
    <span jhiTranslate="approvalServiceApp.approver.home.notFound">No approvers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="approvers && approvers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="programUserId">
            <span jhiTranslate="approvalServiceApp.approver.programUserId">Program User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="approvalServiceApp.approver.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="level">
            <span jhiTranslate="approvalServiceApp.approver.level">Level</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rule.id">
            <span jhiTranslate="approvalServiceApp.approver.rule">Rule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let approver of approvers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/approver', approver.id, 'view']">{{ approver.id }}</a>
          </td>
          <td>{{ approver.programUserId }}</td>
          <td>{{ approver.email }}</td>
          <td>{{ approver.level }}</td>
          <td>
            <div *ngIf="approver.rule">
              <a [routerLink]="['/approval-rule', approver.rule?.id, 'view']">{{ approver.rule?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/approver', approver.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/approver', approver.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(approver)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
