<div>
  <h2 id="page-heading" data-cy="IndividualApprovalStatusHeading">
    <span jhiTranslate="approvalServiceApp.individualApprovalStatus.home.title">Individual Approval Statuses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="approvalServiceApp.individualApprovalStatus.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-individual-approval-status"
        [routerLink]="['/individual-approval-status/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="approvalServiceApp.individualApprovalStatus.home.createLabel"> Create a new Individual Approval Status </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="individualApprovalStatuses?.length === 0">
    <span jhiTranslate="approvalServiceApp.individualApprovalStatus.home.notFound">No individualApprovalStatuses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="individualApprovalStatuses && individualApprovalStatuses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clientTime">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.clientTime">Client Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="request.id">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.request">Request</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="approver.id">
            <span jhiTranslate="approvalServiceApp.individualApprovalStatus.approver">Approver</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let individualApprovalStatus of individualApprovalStatuses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/individual-approval-status', individualApprovalStatus.id, 'view']">{{ individualApprovalStatus.id }}</a>
          </td>
          <td jhiTranslate="{{ 'approvalServiceApp.Status.' + individualApprovalStatus.status }}">{{ individualApprovalStatus.status }}</td>
          <td>{{ individualApprovalStatus.clientTime }}</td>
          <td>{{ individualApprovalStatus.createdBy }}</td>
          <td>{{ individualApprovalStatus.createdAt | formatMediumDate }}</td>
          <td>{{ individualApprovalStatus.updatedBy }}</td>
          <td>{{ individualApprovalStatus.updatedAt | formatMediumDate }}</td>
          <td>
            <div *ngIf="individualApprovalStatus.request">
              <a [routerLink]="['/approval-request', individualApprovalStatus.request?.id, 'view']">{{
                individualApprovalStatus.request?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="individualApprovalStatus.approver">
              <a [routerLink]="['/approver', individualApprovalStatus.approver?.id, 'view']">{{ individualApprovalStatus.approver?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/individual-approval-status', individualApprovalStatus.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/individual-approval-status', individualApprovalStatus.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(individualApprovalStatus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
