<div>
  <h2 id="page-heading" data-cy="ApprovalRequestItemHeading">
    <span jhiTranslate="approvalServiceApp.approvalRequestItem.home.title">Approval Request Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="approvalServiceApp.approvalRequestItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-approval-request-item"
        [routerLink]="['/approval-request-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="approvalServiceApp.approvalRequestItem.home.createLabel"> Create a new Approval Request Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="approvalRequestItems?.length === 0">
    <span jhiTranslate="approvalServiceApp.approvalRequestItem.home.notFound">No approvalRequestItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="approvalRequestItems && approvalRequestItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fieldName">
            <span jhiTranslate="approvalServiceApp.approvalRequestItem.fieldName">Field Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataType">
            <span jhiTranslate="approvalServiceApp.approvalRequestItem.dataType">Data Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="strValue">
            <span jhiTranslate="approvalServiceApp.approvalRequestItem.strValue">Str Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decValue">
            <span jhiTranslate="approvalServiceApp.approvalRequestItem.decValue">Dec Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="request.id">
            <span jhiTranslate="approvalServiceApp.approvalRequestItem.request">Request</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let approvalRequestItem of approvalRequestItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/approval-request-item', approvalRequestItem.id, 'view']">{{ approvalRequestItem.id }}</a>
          </td>
          <td>{{ approvalRequestItem.fieldName }}</td>
          <td jhiTranslate="{{ 'approvalServiceApp.DataType.' + approvalRequestItem.dataType }}">{{ approvalRequestItem.dataType }}</td>
          <td>{{ approvalRequestItem.strValue }}</td>
          <td>{{ approvalRequestItem.decValue }}</td>
          <td>
            <div *ngIf="approvalRequestItem.request">
              <a [routerLink]="['/approval-request', approvalRequestItem.request?.id, 'view']">{{ approvalRequestItem.request?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/approval-request-item', approvalRequestItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/approval-request-item', approvalRequestItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(approvalRequestItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
